.color_selected {
  border: 1px solid #757575;
  border-bottom: 2px solid #333;
<<<<<<< HEAD
}
.color_main_div:hover {
  outline: 1px dotted #757575 !important;
}
=======
}
>>>>>>> 6e4b02b2d51ced4251cf0c4534fe00d77855d238
